@page
@model ProjectMaVe.Pages.LoginModel
@{
    ViewData["Title"] = "User LogIn";
}

<h1 class="accout-text">LogIn</h1>

<div class="container">
    <form method="post">
        @* Username text entry *@
        <div class="row mb-3">
            <div class="offset-sm-2 col-sm-2 mylabels">
                <label>Username</label>
            </div>
            <div class="col-sm-4">
                @* Give user a text box *@
                <input asp-for="UserName" type="text" class="w-100" />
            </div>
            <div class="col-sm-4">

            </div>
        </div>


        @* Password text entry *@
        <div class="row mb-3">
            <div class="offset-sm-2 col-sm-2 mylabels">
                <label>Password</label>
            </div>
            <div class="col-sm-4">
                @* Give user a text box *@
                <input asp-for="Password" type="password" class="w-100" />
            </div>
            <div class="col-sm-4">
            </div>
        </div>

        @* LogIn button *@
        <div class="row mb-3">
            <div class="col-sm-3 offset-sm-4">
                <input asp-page-handler="LogIn" type="submit" value="Login" class="mt-4 btn btn-dark" />
            </div>
            <div class="col-sm-4 fw-bold">
                <a asp-page="/NewUser">Create an account</a>
            </div>
        </div>

        <div class="row mb-3">
            <div class="col-sm-9 offset-sm-3">
                @* Add a label element to show any messages on the page to the user *@
                @* This is the only time you are allowed to use inline styling *@
                <label>@Model.Message</label>
            </div>
        </div>

    </form>
</div>