@page
@using ProjectMaVe.Interfaces
@model UserTestModel
@inject IAuthenticationService authnService
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4 archivo-black-regular text-blue">@authnService.GetCurrentUser().FirstName</h1>
    <p></p>
</div>
